:root{
  --primary:#3f3f74;
  --secondary:#5d5d9b;
  --background: #F1F0FF;
  --white: #ffffff;
  
}

*{
  /* border: 1px solid red; */
}

html{
  font-family: 'Heebo', sans-serif;
  background-color: var(--background);
  font-size: 16px;
  
}

.App{
  background-color: var(--white);
  width: 60%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header{
  color: var(--primary);
}

.h2-header{
  color: var(--secondary);
  margin-bottom: 5px;
}

.current-bal{
    font-size: 2rem;
}

/* Income Expense Container */

.income-expense-container{
  display: flex;
  justify-content:space-evenly;
}

.child-container{
  text-align: center;
  /* border: 2px solid red */
}

.hr{
  border: 1px solid rgba(97, 97, 97, 0.555);
}

.p-header{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: .2rem ;
}

.span-amount{
  font-size: 2rem;
  font-weight: 300;
}

.amt-income{
  color: rgb(194, 0, 0);
}

.amt-expense{
  color: green;
}

.form-container{
  display: flex;
  align-items: center;
  width: 100%;
}

.form-inputs{
width: 50%;
}

.form-submit{
  width: 50%;
  text-align: center;
}

.form-element{
  margin-top: 10px;
}

.form-element input{
  border: 2px solid var(--primary);
  border-radius: 10px;
  padding: .3rem;
  font-size: 1rem;
  width: 90%;
}

.form-label{
  font-size: 1rem;
  color: var(--secondary);
  font-weight: 500;
}

.btn-submit{
  padding: .7rem 1.5rem;
  border-radius: 30px;
  font-size: 1.2rem;
  margin-top: 2rem ;
  border: 2px solid var(--primary);
  background-color: white;
  color: var(--primary);
}

.btn-submit:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 4px 2px 0px, rgba(60, 64, 67, 0.15) 0px 3px 5px 1px;
  cursor: pointer;
  transition: .2s;
  color: var(--white);
  background-color: var(--secondary);
}

.ul-expenseList{
  padding: 0;
}

.span-color-code{

}

.li-expenses{
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
  list-style-type: none;
  color: black;
  display: flex ;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

.li-desc{
  margin-left: 1rem;
}

.li-amt{
  margin-right: 1rem;
}